In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import LabelEncoder

In [3]:
data = pd.read_csv("Copy-of-Student-Employability-Datasets.csv")

In [4]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
data.head()

,Name of Student,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,certifications,workshops,Student Performance Rating,CLASS,Suggested Job Role
0,Student 1,4,5,4,5,5,5,5,shell programming,cloud computing,5,Employable,Database Developer
1,Student 2,4,4,4,4,4,4,3,machine learning,database security,5,Employable,Portal Administrator
2,Student 3,4,3,3,3,3,3,2,app development,web technologies,5,LessEmployable,Portal Administrator
3,Student 4,3,3,3,2,3,3,3,python,data science,5,LessEmployable,Systems Security Administrator
4,Student 5,4,4,3,3,4,4,3,app development,cloud computing,5,Employable,Business Systems Analyst

In [6]:
data.tail()

,Name of Student,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,certifications,workshops,Student Performance Rating,CLASS,Suggested Job Role
2977,Student 2996,4,3,3,3,3,3,2,distro making,system designing,5,Employable,Information Technology Auditor
2978,Student 2997,3,4,4,4,4,4,4,r programming,system designing,5,Employable,Project Manager
2979,Student 2998,4,5,4,5,4,4,4,app development,database security,5,Employable,Technical Support
2980,Student 2999,4,4,4,3,4,4,3,distro making,data science,5,LessEmployable,Software Quality Assurance (QA) / Testing
2981,Student 3000,4,4,4,4,3,4,4,information security,data science,5,Employable,Technical Support