In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv("Copy-of-Student-Employability-Datasets.csv")

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
data.head()

,Name of Student,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,certifications,workshops,Student Performance Rating,CLASS,Suggested Job Role
0,Student 1,4,5,4,5,5,5,5,shell programming,cloud computing,5,Employable,Database Developer
1,Student 2,4,4,4,4,4,4,3,machine learning,database security,5,Employable,Portal Administrator
2,Student 3,4,3,3,3,3,3,2,app development,web technologies,5,LessEmployable,Portal Administrator
3,Student 4,3,3,3,2,3,3,3,python,data science,5,LessEmployable,Systems Security Administrator
4,Student 5,4,4,3,3,4,4,3,app development,cloud computing,5,Employable,Business Systems Analyst

In [5]:
data.tail()

,Name of Student,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,certifications,workshops,Student Performance Rating,CLASS,Suggested Job Role
2977,Student 2996,4,3,3,3,3,3,2,distro making,system designing,5,Employable,Information Technology Auditor
2978,Student 2997,3,4,4,4,4,4,4,r programming,system designing,5,Employable,Project Manager
2979,Student 2998,4,5,4,5,4,4,4,app development,database security,5,Employable,Technical Support
2980,Student 2999,4,4,4,3,4,4,3,distro making,data science,5,LessEmployable,Software Quality Assurance (QA) / Testing
2981,Student 3000,4,4,4,4,3,4,4,information security,data science,5,Employable,Technical Support

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2982 entries, 0 to 2981
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Name of Student             2982 non-null   object
 1   GENERAL APPEARANCE          2982 non-null   int64
 2   MANNER OF SPEAKING          2982 non-null   int64
 3   PHYSICAL CONDITION          2982 non-null   int64
 4   MENTAL ALERTNESS            2982 non-null   int64
 5   SELF-CONFIDENCE             2982 non-null   int64
 6   ABILITY TO PRESENT IDEAS    2982 non-null   int64
 7   COMMUNICATION SKILLS        2982 non-null   int64
 8   certifications              2982 non-null   object
 9   workshops                   2982 non-null   object
 10  Student Performance Rating  2982 non-null   int64
 11  CLASS                       2982 non-null   object
 12  Suggested Job Role          2982 non-null   object
dtypes: int64(8), object(5)
memory usage: 303.0+ KB

In [7]:
data.describe()

,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating
count,2982.000000,2982.000000,2982.000000,2982.000000,2982.000000,2982.000000,2982.000000,2982.000000
mean,4.246814,3.884641,3.972166,3.962777,3.910798,3.813883,3.525486,4.610664
std,0.678501,0.757013,0.744135,0.781982,0.807602,0.739390,0.743881,0.692845
min,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000
25%,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000
50%,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000
75%,5.000000,4.000000,5.000000,5.000000,5.000000,4.000000,4.000000,5.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [8]:
data.shape

(2982, 13)

In [9]:
data.columns

Index(['Name of Student', 'GENERAL APPEARANCE', 'MANNER OF SPEAKING',
       'PHYSICAL CONDITION', 'MENTAL ALERTNESS', 'SELF-CONFIDENCE',
       'ABILITY TO PRESENT IDEAS', 'COMMUNICATION SKILLS', 'certifications',
       'workshops', 'Student Performance Rating', 'CLASS',
       'Suggested Job Role'],
      dtype='object')

In [10]:
print(data.dtypes)

Name of Student               object
GENERAL APPEARANCE             int64
MANNER OF SPEAKING             int64
PHYSICAL CONDITION             int64
MENTAL ALERTNESS               int64
SELF-CONFIDENCE                int64
ABILITY TO PRESENT IDEAS       int64
COMMUNICATION SKILLS           int64
certifications                object
workshops                     object
Student Performance Rating     int64
CLASS                         object
Suggested Job Role            object
dtype: object